.categories-animation {
  animation: categories-animation 1s forwards;
}

@keyframes categories-animation {
  0% {
    transform: scale(0.9);
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}
